$color1: #450D0C;
$color2: #B43C18;
$color3: #FC563D;
$color4: #45070A;
$color5: #FD4F2D;
$color6: #F3F2EE;
$color7: #4C0D0E;
$color8: #490F0E;

$font1: 'Playfair Display', serif;
$font2: 'Noto Serif KR', serif;